
*{
  font-family: 'Poppins' sans-serif ;
  margin: 0 auto;
  text-decoration: none;
}
html{
 
  scroll-behavior: smooth;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bod{    
  border-radius: 10px;
  /* background: #fff; */
  box-shadow: 5px 5px 10px 5px  rgba(0,0,0,0.2);
}

.text-bold{
  font-weight: bolder;
}

.tab{
 background-color: white;
 color: blue;
}

 .active{
  background-color: #31d2f2;
  color: white;
}

input[type="radio"]{
  /* display: none; */
  cursor: pointer;
}
.cont{
  position: relative;
}

.select{
  color: blue;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 10px 50px;  
}
.select::before{
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  left: 25px;
}

input[type="radio"]:checked + .select{
  background-color: blue;
  color: white;
}
input[type="radio"]:checked + .select::before{
  height: 15px;
  width: 15px;
  border: 10px solid white;
  background-color: blue;
}